{% extends 'base.html' %}
{% block content %}
<title>GET IN TOUCH</title>

    <div class="index-section-wrapper page-content" style="font-size:120%">
      <div class="content-inner has-content" data-content-field="main-content">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1609863611198" id="page-5774cd4d6b8f5bd398639b1e"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_6_1476250889477_17621"><div class="sqs-block-content" style="font-size:140%"><h3 style="text-align:center;white-space:pre-wrap;"><strong>GET IN TOUCH </strong></h3></div></div><div class="row sqs-row"><div class="col sqs-col-2 span-2"><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="2.156862745098039" data-block-type="21" id="block-yui_3_17_2_6_1476250889477_127637"><div class="sqs-block-content">&nbsp;</div></div></div><div class="col sqs-col-8 span-8"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_6_1476250889477_128978"><div class="sqs-block-content">
            <h3 class="" style="white-space:pre-wrap;color:black;text-align:center">To get in touch,write to</h3>
            <h3 class="" style="white-space:pre-wrap;color:black;text-align:center">&nbsp;rightchoiceassociates21@gmail.com </h3>
            <h3 class="" style="white-space:pre-wrap;color:black;text-align:center">Call us at - 8884447290 </h3>

</div></div><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_2_1476250889477_86255"><div class="sqs-block-content">&nbsp;</div></div></div></div></div>
      </div>
    </div>
  </div>


{% endblock %}