{% extends 'base.html' %}
{% block content %}


    <div class="index-section-wrapper page-content" style="font-size:120%">
      <div class="content-inner has-content" data-content-field="main-content">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1609863611198" id="page-5774cd4d6b8f5bd398639b1e"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_6_1476250889477_17621"><div class="sqs-block-content" style="font-size:140%"><h3 style="text-align:center;white-space:pre-wrap;"><strong>Right Choice Associates </strong></h3></div></div><div class="row sqs-row"><div class="col sqs-col-2 span-2"><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="2.156862745098039" data-block-type="21" id="block-yui_3_17_2_6_1476250889477_127637"><div class="sqs-block-content">&nbsp;</div></div></div><div class="col sqs-col-8 span-8"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_6_1476250889477_128978"><div class="sqs-block-content">
            <p class="" style="white-space:pre-wrap;">Right Choice Associates  helps customers to realize the business and operational value of new generation software technoligies.we are building an enterprise level solution for Retail buinsesses.&nbsp;</p>
<p class="" style="white-space:pre-wrap;">This platform offers end-to-end automated workflow of Retail supply chain ,
iterate and operationalize IOT powered inspection solutions. With data quality being a key to the success of production systems. &nbsp;</p><p class="" style="white-space:pre-wrap;"><strong>we equipped with a host of specially designed data preparation tools and workflows that help users achieve optimal data accuracy and consistency.
 we uniquely positioned to help companies
successfully automate their business process flows from proof-of-concept to full-scale production. </strong></p><p class="" style="white-space:pre-wrap;"></p><p class="" style="white-space:pre-wrap;"><strong></strong>&nbsp;</p></div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="15.492957746478874" data-block-type="21" id="block-yui_3_17_2_6_1476250889477_133941"><div class="sqs-block-content">&nbsp;</div></div></div></div><div class="row sqs-row"><div class="col sqs-col-4 span-4"><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="2.156862745098039" data-block-type="21" id="block-yui_3_17_2_2_1476250889477_35962"><div class="sqs-block-content">&nbsp;</div></div><div class="sqs-block image-block sqs-block-image" data-aspect-ratio="134.66666666666666" data-block-type="5" id="block-yui_3_17_2_6_1476250889477_155885"><div class="sqs-block-content">

</div></div><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_2_1476250889477_86255"><div class="sqs-block-content">&nbsp;</div></div></div></div></div>
      </div>
    </div>
  </div>


{% endblock %}